<div class="row Page--top">
  <div class="col-sm-7">
    <h3 style="margin-top: 0; margin-bottom: 5px;">Projects / {{project.title}}</h3>
    <p style="margin-top: 0;">
      <em>{{project.date}}</em>
    </p>


    {{{project.description}}}

    {{#if project.links}}
      <p>Links:</p>
      <ul>
        {{#each project.links as |link|}}
          <li><a href={{link.url}} target="_blank" rel="noopener noreferrer">{{link.title}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    <p>Skills:
      {{#each project.skills as |skill|}}{{skill}}, {{/each}}
    </p>

    <div class="tags">
      {{#each project.tags as |tag|}}
      <span class="tag">{{tag}}</span>
      {{/each}}
    </div>
  </div>

  <div class="col-sm-5">
    <img src={{project.leadImage.src}} alt={{project.leadImage.alt}} class="responsive" style="padding-bottom: 15px;" data-image-id={{project.id}}>

    <div style="columns: 2;">
      {{#each project.images as |image|}}
        <div>
          <img src={{image.src}} alt={{image.alt}} class="responsive">
        </div>
      {{/each}}
    </div>
  </div>
</div>
