<h2>Projects</h2>

{{#liquid-bind projects as |projectItems|}}
  <div class="row Project--list">
    {{#each projectItems as |project|}}
      <div class="col-sm-4">
        {{#link-to 'project' project.id}}
        <img src={{project.image.src}} alt={{project.image.alt}} data-image-id={{project.id}} class="responsive">
        <h4>{{project.title}}</h4>
        <p>{{project.description}}</p>
        {{/link-to}}
      </div>
    {{/each}}
  </div>
{{/liquid-bind}}
