<div class="row Page--top">
  <div class="col-sm-7">
    <h3 style="margin-top: 0; margin-bottom: 5px;">Projects / {{project.title}}</h3>
    <p style="margin-top: 0;"><em>{{project.date}}</em></p>

    <p>{{project.summary}}</p>
  </div>

  <div class="col-sm-5">
    <img src={{project.leadImage.src}} alt={{project.leadImage.alt}} class="responsive" style="padding-bottom: 15px;" data-image-id={{project.id}}>

    <div class="row">
      {{#each project.images as |image|}}
        <div class="col-xs-6">
          <img src={{image.src}} alt={{image.alt}} class="responsive">
        </div>
      {{/each}}
    </div>
  </div>
</div>
