<div class="row">
  <div class="col-sm-4">
    <div class="Social--item">
      <h3><i class="fa fa-music" aria-hidden="true"></i> Listening</h3>
      {{#if tracks}}
        <p>
          Lately I've been blasting
          {{#each tracks as |t|}}
            {{#if t.isLast}} and{{/if}} <em>{{t.name}}</em> by <strong>{{t.artist}}</strong>{{#unless t.isLast}},{{/unless}}
          {{/each}}
        </p>
      {{/if}}
    </div>
  </div>

  <div class="col-sm-4">
    <div class="Social--item">
      <h3><i class="fa fa-twitter" aria-hidden="true"></i> Tweeting</h3>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="Social--item">
      <h3><i class="fa fa-heartbeat"></i> Running</h3>
      {{#if latestRun}}
        <p>My latest run was {{latestRun.distance}}km in {{latestRun.time}} minutes, completing mission <em>{{latestRun.missionCode}}</em> in <a href={{latestRun.link}}>Zombies, Run!</a></p>
      {{/if}}
    </div>
  </div>

  <div class="col-sm-4">
    <h3></h3>
    <p></p>
  </div>


</div>
